.player-details {
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: var(--green1); /* Lightest green */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.player-card {
  background-color: var(--green3); /* Middle green */
  border-radius: 12px;
  padding: 30px;
  transition: transform 0.3s;
}

.player-card:hover {
  transform: translateY(-5px);
}

.player-card img {
  width: 15%;
  border-radius: 8px;
}

.player-info {
  background-color: var(--green2); /* Slightly darker green for contrast */
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.player-details p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 10px 0;
}

.player-name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.5rem;
  margin: 20px 0;
  color: black; /* Darkest green */
}
.player-value {
  margin-top: 20px;
  color: black; 
  
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  transition: width 0.5s ease;
}
